.faq-container {
  max-width: 75vw;
  margin: 0 auto;
  padding: 30px;
}

.accordion-item {
  background-color: #191919 !important;
  border: none !important;
  box-shadow: none !important;
}

.accordion-header {
  background-color: #191919 !important;
  cursor: pointer;
  border-top: 1px solid #555;
}

.accordion-header button {
  color: #fff;
  background-color: #191919 !important;
  font-weight: 600;
  font-size: 18px;
  padding: 15px;
  border: none !important;
  text-align: left;
  width: 100%;
}

.accordion-body {
  color: #888888;
  background-color: #191919 !important;
  font-size: 16px;
  padding: 20px;
  border: none !important;
  text-align: justify;
}

.accordion-button:not(.collapsed) {
  background-color: #191919 !important;
  color: #fff !important;
  border: none !important;
  padding: 15px;
  font-weight: 600;
}

.accordion-button,
.accordion-item,
.accordion-body {
  box-shadow: none !important;
  border: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: #191919 !important;
  color: #fff !important;
  border: none !important;
}
