@import "home";
@import "about";
@import "shop";
@import "contact";
@import "blog";
@import "faq";
@import "not_found_page";
@import "header";
@import "footer";
@import "cart";
@import "wishlist";
@import "product_details";
@import "login_register";
@import "admin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
  outline: none !important;
}

body {
  font-family: Lato, sans-serif !important;
  background-color: #191919 !important;
}

.page {
  padding-top: 185px;
}

@keyframes hero-bg-effect {
  0% {
    width: 40%;
  }
  100% {
    width: 10%;
  }
}

.hero-box {
  max-width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  margin: 0;
  position: relative;

  .hero-home {
    font-size: 14px;
    color: #ffffff !important;
    margin: 0;
  }

  .hero-page {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
  }

  .bg-effect {
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #353535;
    z-index: -1;
    clip-path: polygon(0% 100%, 100% 100%, 90% 0%, 10% 0%);
    transform: rotate(180deg);
    transition: 0.8s;
  }
}

.hero-box:hover {
  .bg-effect {
    width: 10%;
    clip-path: polygon(0% 100%, 100% 100%, 70% 0%, 30% 0%);
  }
}

.hero-box::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #353535;
  clip-path: polygon(0% 100%, 100% 100%, 80% 0%, 0% 0%);
  transition: width 1s ease-in-out;
}

.hero-box:hover::before {
  width: 15%;
}

.hero-box::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #353535;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 20% 0%);
  transition: width 1s ease-in-out;
}

.hero-box:hover::after {
  width: 15%;
}
